<div class="articles">
    <h1>{{title}}</h1>
    <h2>{{body}}</h2>
    <h3>{{author}}</h3>
    <form action="/articles/{{title}}?_method=DELETE" method="POST" >
     <button type="submit">Delete</button>
     </form>
  </div>